In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data
from pytrends.request import TrendReq

In [2]:
tickers = pd.read_excel("../Data/Market Ticker.xls")
tickers

,Name,Sector,Ticker,Country,Continent
0,Bank of China,Financials,3988.HK,China,ASIA
1,China Construction Bank,Financials,0939.HK,China,ASIA
2,China Life Insurance Company,Financials,2628.HK,China,ASIA
3,China Merchants Bank,Financials,3968.HK,China,ASIA
4,China Mobile,Communication Services,0941.HK,China,ASIA
...,...,...,...,...,...
1067,Unilever,Consumer Defensive,ULVR.L,United Kingdom,EUROPE
1068,United Utilities,Consumer Defensive,UU.L,United Kingdom,EUROPE
1069,Vodafone Group,Communication Services,VOD.L,United Kingdom,EUROPE
1070,Whitbread,Consumer Discretionary,WTB.L,United Kingdom,EUROPE
1071,WPP plc,Communication Services,WPP.L,United Kingdom,EUROPE

In [3]:
def yahoo_finance_data():
    TICKER = tickers["Ticker"]
    DATA_SOURCE = "yahoo"
    START = str(input("¿Desde que fecha desea obtener los datos diarios?--Formato usado: YYYY-MM-DD"))
    DATA_TABLE = data.DataReader(TICKER, DATA_SOURCE,START)
    return DATA_TABLE

In [4]:
data_ent = yahoo_finance_data()

¿Desde que fecha desea obtener los datos diarios?--Formato usado: YYYY-MM-DD2021-01-01

/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: '8028.T', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: '9062.T', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: '9437.T', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'SNYFY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ATD-B.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BPY-UN.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'KL.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ALXN', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'COG', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CTL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CXO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ETFC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'FLIR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'KSU', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MXIM', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MYL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'NBL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'TIF', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'VAR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'WLTW', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'XLNX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BKIA.MC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'UG.PA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'FP.PA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'DAI.DE', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MRK.DE', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'GVC.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LSE.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MRW.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RB.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RDSA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RSA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/pabloaliagagato/applications/envs/final-project/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'SLA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [5]:
data_ent

Attributes Adj Close                                                        \
Symbols      3988.HK   0939.HK    2628.HK    3968.HK    0941.HK    0688.HK
Date
2021-01-01       NaN       NaN        NaN        NaN        NaN        NaN
2021-01-04  2.413719  5.402717  16.244633  45.907173  41.005131  15.453111
2021-01-05  2.441463  5.383990  16.054636  46.737408  43.109158  14.797525
2021-01-06  2.469207  5.393354  16.244633  48.056019  43.623478  14.235594
2021-01-07  2.459959  5.505715  16.244633  50.986263  40.490814  14.404173
...              ...       ...        ...        ...        ...        ...
2022-04-15       NaN       NaN        NaN        NaN        NaN        NaN
2022-04-18       NaN       NaN        NaN        NaN        NaN        NaN
2022-04-19  3.120000  5.750000  11.980000  52.900002  55.400002  26.650000
2022-04-20  3.140000  5.720000  11.940000  50.299999  55.000000  25.049999
2022-04-21  3.130000  5.720000  11.920000  50.799999  54.250000  24.650000

Attributes                                             ... Volume         \
Symbols      0386.HK    0883.HK   1398.HK     3690.HK  ...  FP.PA DAI.DE
Date                                                   ...
2021-01-01       NaN        NaN       NaN         NaN  ...    NaN    NaN
2021-01-04  3.235019   6.590472  4.540923  292.600006  ...    NaN    NaN
2021-01-05  3.235019   6.599820  4.503472  296.600006  ...    NaN    NaN
2021-01-06  3.335827   6.880265  4.512835  310.000000  ...    NaN    NaN
2021-01-07  3.409142   6.777435  4.597099  308.000000  ...    NaN    NaN
...              ...        ...       ...         ...  ...    ...    ...
2022-04-15       NaN        NaN       NaN         NaN  ...    NaN    NaN
2022-04-18       NaN        NaN       NaN         NaN  ...    NaN    NaN
2022-04-19  4.000000  11.640000  4.720000  146.000000  ...    NaN    NaN
2022-04-20  3.960000  11.160000  4.710000  144.899994  ...    NaN    NaN
2022-04-21  3.960000  10.880000  4.740000  137.800003  ...    NaN    NaN

Attributes
Symbols    MRK.DE GVC.L LSE.L MRW.L RB.L RDSA.L RSA.L SLA.L
Date
2021-01-01    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2021-01-04    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2021-01-05    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2021-01-06    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2021-01-07    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
...           ...   ...   ...   ...  ...    ...   ...   ...
2022-04-15    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2022-04-18    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2022-04-19    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2022-04-20    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN
2022-04-21    NaN   NaN   NaN   NaN  NaN    NaN   NaN   NaN

[340 rows x 6432 columns]

In [6]:
last_data_end = data_ent.tail(10) #Cogemos las fechas de los 10 últimos días

In [7]:
last_data_end

Attributes Adj Close                                                           \
Symbols      3988.HK 0939.HK 2628.HK    3968.HK    0941.HK    0688.HK 0386.HK
Date
2022-04-08      3.14    5.89   12.26  61.599998  55.450001  26.750000    3.98
2022-04-11      3.14    5.86   12.00  58.750000  54.599998  26.100000    3.97
2022-04-12      3.12    5.83   12.00  58.700001  54.650002  25.650000    3.94
2022-04-13      3.13    5.86   12.08  58.650002  55.500000  26.250000    4.00
2022-04-14      3.12    5.86   12.16  59.750000  55.349998  27.150000    4.00
2022-04-15       NaN     NaN     NaN        NaN        NaN        NaN     NaN
2022-04-18       NaN     NaN     NaN        NaN        NaN        NaN     NaN
2022-04-19      3.12    5.75   11.98  52.900002  55.400002  26.650000    4.00
2022-04-20      3.14    5.72   11.94  50.299999  55.000000  25.049999    3.96
2022-04-21      3.13    5.72   11.92  50.799999  54.250000  24.650000    3.96

Attributes                              ... Volume                            \
Symbols    0883.HK 1398.HK     3690.HK  ...  FP.PA DAI.DE MRK.DE GVC.L LSE.L
Date                                    ...
2022-04-08   11.66    4.78  156.500000  ...    NaN    NaN    NaN   NaN   NaN
2022-04-11   11.16    4.78  147.500000  ...    NaN    NaN    NaN   NaN   NaN
2022-04-12   11.06    4.75  153.899994  ...    NaN    NaN    NaN   NaN   NaN
2022-04-13   11.46    4.75  154.100006  ...    NaN    NaN    NaN   NaN   NaN
2022-04-14   11.56    4.75  155.199997  ...    NaN    NaN    NaN   NaN   NaN
2022-04-15     NaN     NaN         NaN  ...    NaN    NaN    NaN   NaN   NaN
2022-04-18     NaN     NaN         NaN  ...    NaN    NaN    NaN   NaN   NaN
2022-04-19   11.64    4.72  146.000000  ...    NaN    NaN    NaN   NaN   NaN
2022-04-20   11.16    4.71  144.899994  ...    NaN    NaN    NaN   NaN   NaN
2022-04-21   10.88    4.74  137.800003  ...    NaN    NaN    NaN   NaN   NaN

Attributes
Symbols    MRW.L RB.L RDSA.L RSA.L SLA.L
Date
2022-04-08   NaN  NaN    NaN   NaN   NaN
2022-04-11   NaN  NaN    NaN   NaN   NaN
2022-04-12   NaN  NaN    NaN   NaN   NaN
2022-04-13   NaN  NaN    NaN   NaN   NaN
2022-04-14   NaN  NaN    NaN   NaN   NaN
2022-04-15   NaN  NaN    NaN   NaN   NaN
2022-04-18   NaN  NaN    NaN   NaN   NaN
2022-04-19   NaN  NaN    NaN   NaN   NaN
2022-04-20   NaN  NaN    NaN   NaN   NaN
2022-04-21   NaN  NaN    NaN   NaN   NaN

[10 rows x 6432 columns]

In [8]:
last_data = last_data_end.transpose() #Data de los últimos 10 días

In [9]:
last_data

Date                2022-04-08  2022-04-11  2022-04-12  2022-04-13  \
Attributes Symbols
Adj Close  3988.HK    3.140000    3.140000    3.120000    3.130000
           0939.HK    5.890000    5.860000    5.830000    5.860000
           2628.HK   12.260000   12.000000   12.000000   12.080000
           3968.HK   61.599998   58.750000   58.700001   58.650002
           0941.HK   55.450001   54.599998   54.650002   55.500000
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

Date                2022-04-14  2022-04-15  2022-04-18  2022-04-19  \
Attributes Symbols
Adj Close  3988.HK    3.120000         NaN         NaN    3.120000
           0939.HK    5.860000         NaN         NaN    5.750000
           2628.HK   12.160000         NaN         NaN   11.980000
           3968.HK   59.750000         NaN         NaN   52.900002
           0941.HK   55.349998         NaN         NaN   55.400002
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

Date                2022-04-20  2022-04-21
Attributes Symbols
Adj Close  3988.HK    3.140000    3.130000
           0939.HK    5.720000    5.720000
           2628.HK   11.940000   11.920000
           3968.HK   50.299999   50.799999
           0941.HK   55.000000   54.250000
...                        ...         ...
Volume     MRW.L           NaN         NaN
           RB.L            NaN         NaN
           RDSA.L          NaN         NaN
           RSA.L           NaN         NaN
           SLA.L           NaN         NaN

[6432 rows x 10 columns]

In [10]:
total_data = data_ent.transpose() #Datos totales desde 1-1-21

In [11]:
total_data

Date                2021-01-01  2021-01-04  2021-01-05  2021-01-06  \
Attributes Symbols
Adj Close  3988.HK         NaN    2.413719    2.441463    2.469207
           0939.HK         NaN    5.402717    5.383990    5.393354
           2628.HK         NaN   16.244633   16.054636   16.244633
           3968.HK         NaN   45.907173   46.737408   48.056019
           0941.HK         NaN   41.005131   43.109158   43.623478
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

Date                2021-01-07  2021-01-08  2021-01-11  2021-01-12  \
Attributes Symbols
Adj Close  3988.HK    2.459959    2.478455    2.496951    2.506199
           0939.HK    5.505715    5.552532    5.674257    5.721075
           2628.HK   16.244633   16.130634   15.902640   17.004616
           3968.HK   50.986263   52.207199   54.990932   56.553730
           0941.HK   40.490814   38.807594   41.051891   43.763744
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

Date                2021-01-13  2021-01-14  ...  2022-04-08  2022-04-11  \
Attributes Symbols                          ...
Adj Close  3988.HK    2.515447    2.506199  ...    3.140000    3.140000
           0939.HK    5.721075    5.683621  ...    5.890000    5.860000
           2628.HK   16.985615   16.681622  ...   12.260000   12.000000
           3968.HK   55.918842   55.821171  ...   61.599998   58.750000
           0941.HK   42.968891   44.091038  ...   55.450001   54.599998
...                        ...         ...  ...         ...         ...
Volume     MRW.L           NaN         NaN  ...         NaN         NaN
           RB.L            NaN         NaN  ...         NaN         NaN
           RDSA.L          NaN         NaN  ...         NaN         NaN
           RSA.L           NaN         NaN  ...         NaN         NaN
           SLA.L           NaN         NaN  ...         NaN         NaN

Date                2022-04-12  2022-04-13  2022-04-14  2022-04-15  \
Attributes Symbols
Adj Close  3988.HK    3.120000    3.130000    3.120000         NaN
           0939.HK    5.830000    5.860000    5.860000         NaN
           2628.HK   12.000000   12.080000   12.160000         NaN
           3968.HK   58.700001   58.650002   59.750000         NaN
           0941.HK   54.650002   55.500000   55.349998         NaN
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

Date                2022-04-18  2022-04-19  2022-04-20  2022-04-21
Attributes Symbols
Adj Close  3988.HK         NaN    3.120000    3.140000    3.130000
           0939.HK         NaN    5.750000    5.720000    5.720000
           2628.HK         NaN   11.980000   11.940000   11.920000
           3968.HK         NaN   52.900002   50.299999   50.799999
           0941.HK         NaN   55.400002   55.000000   54.250000
...                        ...         ...         ...         ...
Volume     MRW.L           NaN         NaN         NaN         NaN
           RB.L            NaN         NaN         NaN         NaN
           RDSA.L          NaN         NaN         NaN         NaN
           RSA.L           NaN         NaN         NaN         NaN
           SLA.L           NaN         NaN         NaN         NaN

[6432 rows x 340 columns]

In [12]:
total_data.to_csv("../Data/Total_data_values.csv")

In [13]:
last_data.to_csv("../Data/Last_10_days_data_values.csv")