In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../Data/Last_10_days_data_values.csv")

In [3]:
data

,Attributes,Symbols,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21
0,Adj Close,3988.HK,3.140000,3.140000,3.120000,3.130000,3.120000,NaN,NaN,3.120000,3.140000,3.130000
1,Adj Close,0939.HK,5.890000,5.860000,5.830000,5.860000,5.860000,NaN,NaN,5.750000,5.720000,5.720000
2,Adj Close,2628.HK,12.260000,12.000000,12.000000,12.080000,12.160000,NaN,NaN,11.980000,11.940000,11.920000
3,Adj Close,3968.HK,61.599998,58.750000,58.700001,58.650002,59.750000,NaN,NaN,52.900002,50.299999,50.799999
4,Adj Close,0941.HK,55.450001,54.599998,54.650002,55.500000,55.349998,NaN,NaN,55.400002,55.000000,54.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
6427,Volume,MRW.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6428,Volume,RB.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6429,Volume,RDSA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6430,Volume,RSA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6431,Volume,SLA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data = data.set_index("Attributes")
data

,Symbols,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21
Attributes,,,,,,,,,,,
Adj Close,3988.HK,3.140000,3.140000,3.120000,3.130000,3.120000,NaN,NaN,3.120000,3.140000,3.130000
Adj Close,0939.HK,5.890000,5.860000,5.830000,5.860000,5.860000,NaN,NaN,5.750000,5.720000,5.720000
Adj Close,2628.HK,12.260000,12.000000,12.000000,12.080000,12.160000,NaN,NaN,11.980000,11.940000,11.920000
Adj Close,3968.HK,61.599998,58.750000,58.700001,58.650002,59.750000,NaN,NaN,52.900002,50.299999,50.799999
Adj Close,0941.HK,55.450001,54.599998,54.650002,55.500000,55.349998,NaN,NaN,55.400002,55.000000,54.250000
...,...,...,...,...,...,...,...,...,...,...,...
Volume,MRW.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volume,RB.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volume,RDSA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volume,RSA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volume,SLA.L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = data.drop("Volume", axis = 0)
data = data.drop("Adj Close", axis = 0)
data = data.drop("Open", axis = 0)
data = data.drop("Close", axis = 0)

In [6]:
data.isnull().sum()

Symbols          0
2022-04-08      74
2022-04-11      74
2022-04-12      74
2022-04-13      74
2022-04-14     174
2022-04-15    1702
2022-04-18     508
2022-04-19      76
2022-04-20      76
2022-04-21     144
dtype: int64

In [7]:
data = data.dropna()

In [8]:
data = data.reset_index()

In [9]:
data["Ticker"] = data[["Symbols", "Attributes"]].apply(lambda x: '_'.join(x), axis = 1)

In [10]:
data

,Attributes,Symbols,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21,Ticker
0,High,6857.T,8860.0,8700.000000,8510.0,8550.000000,8760.0,8470.000000,8300.000000,8570.000000,8680.0,8640.000000,6857.T_High
1,High,8267.T,2606.0,2596.500000,2561.0,2513.000000,2524.5,2500.000000,2463.000000,2459.000000,2485.0,2509.000000,8267.T_High
2,High,5201.T,4790.0,4830.000000,4835.0,4830.000000,4920.0,4930.000000,4945.000000,4935.000000,4970.0,4995.000000,5201.T_High
3,High,2802.T,3537.0,3524.000000,3533.0,3491.000000,3557.0,3503.000000,3455.000000,3433.000000,3436.0,3416.000000,2802.T_High
4,High,6770.T,1179.0,1174.000000,1158.0,1172.000000,1244.0,1210.000000,1201.000000,1220.000000,1246.0,1240.000000,6770.T_High
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,Low,9064.T,2375.0,2346.000000,2308.0,2349.000000,2343.0,2351.000000,2330.000000,2334.000000,2354.0,2363.000000,9064.T_Low
438,Low,6506.T,4460.0,4390.000000,4375.0,4410.000000,4590.0,4460.000000,4345.000000,4440.000000,4525.0,4500.000000,6506.T_Low
439,Low,6841.T,2009.0,2024.000000,2052.0,2063.000000,2117.0,2100.000000,2103.000000,2146.000000,2125.0,2148.000000,6841.T_Low
440,Low,5101.T,1640.0,1655.000000,1652.0,1662.000000,1665.0,1677.000000,1656.000000,1682.000000,1710.0,1725.000000,5101.T_Low
441,Low,4689.T,513.5,501.200012,501.5,502.299988,514.0,506.299988,502.299988,512.799988,516.5,510.899994,4689.T_Low

In [11]:
data = data.drop("Attributes", axis = 1)
data = data.drop("Symbols", axis = 1)

In [12]:
data

,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21,Ticker
0,8860.0,8700.000000,8510.0,8550.000000,8760.0,8470.000000,8300.000000,8570.000000,8680.0,8640.000000,6857.T_High
1,2606.0,2596.500000,2561.0,2513.000000,2524.5,2500.000000,2463.000000,2459.000000,2485.0,2509.000000,8267.T_High
2,4790.0,4830.000000,4835.0,4830.000000,4920.0,4930.000000,4945.000000,4935.000000,4970.0,4995.000000,5201.T_High
3,3537.0,3524.000000,3533.0,3491.000000,3557.0,3503.000000,3455.000000,3433.000000,3436.0,3416.000000,2802.T_High
4,1179.0,1174.000000,1158.0,1172.000000,1244.0,1210.000000,1201.000000,1220.000000,1246.0,1240.000000,6770.T_High
...,...,...,...,...,...,...,...,...,...,...,...
437,2375.0,2346.000000,2308.0,2349.000000,2343.0,2351.000000,2330.000000,2334.000000,2354.0,2363.000000,9064.T_Low
438,4460.0,4390.000000,4375.0,4410.000000,4590.0,4460.000000,4345.000000,4440.000000,4525.0,4500.000000,6506.T_Low
439,2009.0,2024.000000,2052.0,2063.000000,2117.0,2100.000000,2103.000000,2146.000000,2125.0,2148.000000,6841.T_Low
440,1640.0,1655.000000,1652.0,1662.000000,1665.0,1677.000000,1656.000000,1682.000000,1710.0,1725.000000,5101.T_Low
441,513.5,501.200012,501.5,502.299988,514.0,506.299988,502.299988,512.799988,516.5,510.899994,4689.T_Low

In [13]:
data.isnull().sum()

2022-04-08    0
2022-04-11    0
2022-04-12    0
2022-04-13    0
2022-04-14    0
2022-04-15    0
2022-04-18    0
2022-04-19    0
2022-04-20    0
2022-04-21    0
Ticker        0
dtype: int64

In [14]:
data = data.set_index("Ticker")
data

,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21
Ticker,,,,,,,,,,
6857.T_High,8860.0,8700.000000,8510.0,8550.000000,8760.0,8470.000000,8300.000000,8570.000000,8680.0,8640.000000
8267.T_High,2606.0,2596.500000,2561.0,2513.000000,2524.5,2500.000000,2463.000000,2459.000000,2485.0,2509.000000
5201.T_High,4790.0,4830.000000,4835.0,4830.000000,4920.0,4930.000000,4945.000000,4935.000000,4970.0,4995.000000
2802.T_High,3537.0,3524.000000,3533.0,3491.000000,3557.0,3503.000000,3455.000000,3433.000000,3436.0,3416.000000
6770.T_High,1179.0,1174.000000,1158.0,1172.000000,1244.0,1210.000000,1201.000000,1220.000000,1246.0,1240.000000
...,...,...,...,...,...,...,...,...,...,...
9064.T_Low,2375.0,2346.000000,2308.0,2349.000000,2343.0,2351.000000,2330.000000,2334.000000,2354.0,2363.000000
6506.T_Low,4460.0,4390.000000,4375.0,4410.000000,4590.0,4460.000000,4345.000000,4440.000000,4525.0,4500.000000
6841.T_Low,2009.0,2024.000000,2052.0,2063.000000,2117.0,2100.000000,2103.000000,2146.000000,2125.0,2148.000000
5101.T_Low,1640.0,1655.000000,1652.0,1662.000000,1665.0,1677.000000,1656.000000,1682.000000,1710.0,1725.000000
4689.T_Low,513.5,501.200012,501.5,502.299988,514.0,506.299988,502.299988,512.799988,516.5,510.899994

In [15]:
data = data.sort_values('Ticker',ascending=True)

In [16]:
data

,2022-04-08,2022-04-11,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-18,2022-04-19,2022-04-20,2022-04-21
Ticker,,,,,,,,,,
1332.T_High,552.0,558.0,566.0,558.0,565.0,563.0,551.0,553.0,572.0,582.0
1332.T_Low,543.0,548.0,551.0,554.0,557.0,555.0,541.0,546.0,555.0,573.0
1333.T_High,2427.0,2409.0,2395.0,2381.0,2405.0,2390.0,2350.0,2367.0,2405.0,2421.0
1333.T_Low,2395.0,2377.0,2345.0,2348.0,2363.0,2364.0,2315.0,2347.0,2359.0,2387.0
1605.T_High,1449.0,1497.0,1485.0,1522.0,1579.0,1605.0,1638.0,1677.0,1665.0,1650.0
...,...,...,...,...,...,...,...,...,...,...
9766.T_Low,8120.0,8040.0,8010.0,8100.0,8240.0,8200.0,7940.0,8070.0,7980.0,8050.0
9983.T_High,61250.0,60170.0,58500.0,58830.0,59940.0,65140.0,64300.0,64670.0,64640.0,66330.0
9983.T_Low,58790.0,58440.0,56590.0,56870.0,57660.0,61330.0,62800.0,62130.0,62420.0,64120.0
9984.T_High,5742.0,5729.0,5559.0,5638.0,5774.0,5723.0,5656.0,5719.0,5655.0,5644.0
9984.T_Low,5625.0,5521.0,5427.0,5466.0,5672.0,5585.0,5600.0,5523.0,5518.0,5551.0

In [17]:
#data_filtered = data.groupby(by=['Symbols',"Attributes"]).sum()

In [18]:
data_filtered = data.transpose()
data_filtered

Ticker,1332.T_High,1332.T_Low,1333.T_High,1333.T_Low,1605.T_High,1605.T_Low,1721.T_High,1721.T_Low,1801.T_High,1801.T_Low,...,9613.T_High,9613.T_Low,9735.T_High,9735.T_Low,9766.T_High,9766.T_Low,9983.T_High,9983.T_Low,9984.T_High,9984.T_Low
2022-04-08,552.0,543.0,2427.0,2395.0,1449.0,1427.0,2629.0,2594.0,3465.0,3415.0,...,2417.0,2367.0,8816.0,8700.0,8290.0,8120.0,61250.0,58790.0,5742.0,5625.0
2022-04-11,558.0,548.0,2409.0,2377.0,1497.0,1467.0,2634.0,2605.0,3525.0,3440.0,...,2397.0,2355.0,8842.0,8694.0,8140.0,8040.0,60170.0,58440.0,5729.0,5521.0
2022-04-12,566.0,551.0,2395.0,2345.0,1485.0,1430.0,2641.0,2588.0,3545.0,3465.0,...,2388.0,2360.0,8814.0,8650.0,8260.0,8010.0,58500.0,56590.0,5559.0,5427.0
2022-04-13,558.0,554.0,2381.0,2348.0,1522.0,1486.0,2628.0,2603.0,3515.0,3475.0,...,2410.0,2349.0,8866.0,8756.0,8300.0,8100.0,58830.0,56870.0,5638.0,5466.0
2022-04-14,565.0,557.0,2405.0,2363.0,1579.0,1525.0,2666.0,2619.0,3560.0,3505.0,...,2442.0,2419.0,8894.0,8752.0,8380.0,8240.0,59940.0,57660.0,5774.0,5672.0
2022-04-15,563.0,555.0,2390.0,2364.0,1605.0,1571.0,2657.0,2614.0,3560.0,3520.0,...,2448.0,2380.0,8937.0,8764.0,8360.0,8200.0,65140.0,61330.0,5723.0,5585.0
2022-04-18,551.0,541.0,2350.0,2315.0,1638.0,1591.0,2636.0,2572.0,3540.0,3465.0,...,2423.0,2383.0,8864.0,8778.0,8180.0,7940.0,64300.0,62800.0,5656.0,5600.0
2022-04-19,553.0,546.0,2367.0,2347.0,1677.0,1616.0,2651.0,2611.0,3565.0,3510.0,...,2436.0,2391.0,8922.0,8789.0,8240.0,8070.0,64670.0,62130.0,5719.0,5523.0
2022-04-20,572.0,555.0,2405.0,2359.0,1665.0,1622.0,2683.0,2635.0,3550.0,3490.0,...,2423.0,2354.0,8906.0,8778.0,8150.0,7980.0,64640.0,62420.0,5655.0,5518.0
2022-04-21,582.0,573.0,2421.0,2387.0,1650.0,1602.0,2708.0,2689.0,3565.0,3515.0,...,2398.0,2361.0,8976.0,8877.0,8240.0,8050.0,66330.0,64120.0,5644.0,5551.0

In [19]:
data_filtered

Ticker,1332.T_High,1332.T_Low,1333.T_High,1333.T_Low,1605.T_High,1605.T_Low,1721.T_High,1721.T_Low,1801.T_High,1801.T_Low,...,9613.T_High,9613.T_Low,9735.T_High,9735.T_Low,9766.T_High,9766.T_Low,9983.T_High,9983.T_Low,9984.T_High,9984.T_Low
2022-04-08,552.0,543.0,2427.0,2395.0,1449.0,1427.0,2629.0,2594.0,3465.0,3415.0,...,2417.0,2367.0,8816.0,8700.0,8290.0,8120.0,61250.0,58790.0,5742.0,5625.0
2022-04-11,558.0,548.0,2409.0,2377.0,1497.0,1467.0,2634.0,2605.0,3525.0,3440.0,...,2397.0,2355.0,8842.0,8694.0,8140.0,8040.0,60170.0,58440.0,5729.0,5521.0
2022-04-12,566.0,551.0,2395.0,2345.0,1485.0,1430.0,2641.0,2588.0,3545.0,3465.0,...,2388.0,2360.0,8814.0,8650.0,8260.0,8010.0,58500.0,56590.0,5559.0,5427.0
2022-04-13,558.0,554.0,2381.0,2348.0,1522.0,1486.0,2628.0,2603.0,3515.0,3475.0,...,2410.0,2349.0,8866.0,8756.0,8300.0,8100.0,58830.0,56870.0,5638.0,5466.0
2022-04-14,565.0,557.0,2405.0,2363.0,1579.0,1525.0,2666.0,2619.0,3560.0,3505.0,...,2442.0,2419.0,8894.0,8752.0,8380.0,8240.0,59940.0,57660.0,5774.0,5672.0
2022-04-15,563.0,555.0,2390.0,2364.0,1605.0,1571.0,2657.0,2614.0,3560.0,3520.0,...,2448.0,2380.0,8937.0,8764.0,8360.0,8200.0,65140.0,61330.0,5723.0,5585.0
2022-04-18,551.0,541.0,2350.0,2315.0,1638.0,1591.0,2636.0,2572.0,3540.0,3465.0,...,2423.0,2383.0,8864.0,8778.0,8180.0,7940.0,64300.0,62800.0,5656.0,5600.0
2022-04-19,553.0,546.0,2367.0,2347.0,1677.0,1616.0,2651.0,2611.0,3565.0,3510.0,...,2436.0,2391.0,8922.0,8789.0,8240.0,8070.0,64670.0,62130.0,5719.0,5523.0
2022-04-20,572.0,555.0,2405.0,2359.0,1665.0,1622.0,2683.0,2635.0,3550.0,3490.0,...,2423.0,2354.0,8906.0,8778.0,8150.0,7980.0,64640.0,62420.0,5655.0,5518.0
2022-04-21,582.0,573.0,2421.0,2387.0,1650.0,1602.0,2708.0,2689.0,3565.0,3515.0,...,2398.0,2361.0,8976.0,8877.0,8240.0,8050.0,66330.0,64120.0,5644.0,5551.0

In [20]:
data_filtered.to_csv("../Data/Last_10_days_data_cleaned.csv")

In [21]:
data_filtered.dtypes

Ticker
1332.T_High    float64
1332.T_Low     float64
1333.T_High    float64
1333.T_Low     float64
1605.T_High    float64
                ...
9766.T_Low     float64
9983.T_High    float64
9983.T_Low     float64
9984.T_High    float64
9984.T_Low     float64
Length: 442, dtype: object

In [22]:
data_filtered["1332.T_Profit"] = ((data_filtered["1332.T_High"] - data_filtered["1332.T_Low"])/data_filtered["1332.T_Low"])*100

In [23]:
data_filtered["1333.T_Profit"] = ((data_filtered["1333.T_High"] - data_filtered["1333.T_Low"])/data_filtered["1333.T_Low"])*100

In [24]:
data_filtered

Ticker,1332.T_High,1332.T_Low,1333.T_High,1333.T_Low,1605.T_High,1605.T_Low,1721.T_High,1721.T_Low,1801.T_High,1801.T_Low,...,9735.T_High,9735.T_Low,9766.T_High,9766.T_Low,9983.T_High,9983.T_Low,9984.T_High,9984.T_Low,1332.T_Profit,1333.T_Profit
2022-04-08,552.0,543.0,2427.0,2395.0,1449.0,1427.0,2629.0,2594.0,3465.0,3415.0,...,8816.0,8700.0,8290.0,8120.0,61250.0,58790.0,5742.0,5625.0,1.657459,1.336117
2022-04-11,558.0,548.0,2409.0,2377.0,1497.0,1467.0,2634.0,2605.0,3525.0,3440.0,...,8842.0,8694.0,8140.0,8040.0,60170.0,58440.0,5729.0,5521.0,1.824818,1.346235
2022-04-12,566.0,551.0,2395.0,2345.0,1485.0,1430.0,2641.0,2588.0,3545.0,3465.0,...,8814.0,8650.0,8260.0,8010.0,58500.0,56590.0,5559.0,5427.0,2.722323,2.132196
2022-04-13,558.0,554.0,2381.0,2348.0,1522.0,1486.0,2628.0,2603.0,3515.0,3475.0,...,8866.0,8756.0,8300.0,8100.0,58830.0,56870.0,5638.0,5466.0,0.722022,1.405451
2022-04-14,565.0,557.0,2405.0,2363.0,1579.0,1525.0,2666.0,2619.0,3560.0,3505.0,...,8894.0,8752.0,8380.0,8240.0,59940.0,57660.0,5774.0,5672.0,1.436266,1.777402
2022-04-15,563.0,555.0,2390.0,2364.0,1605.0,1571.0,2657.0,2614.0,3560.0,3520.0,...,8937.0,8764.0,8360.0,8200.0,65140.0,61330.0,5723.0,5585.0,1.441441,1.099831
2022-04-18,551.0,541.0,2350.0,2315.0,1638.0,1591.0,2636.0,2572.0,3540.0,3465.0,...,8864.0,8778.0,8180.0,7940.0,64300.0,62800.0,5656.0,5600.0,1.848429,1.511879
2022-04-19,553.0,546.0,2367.0,2347.0,1677.0,1616.0,2651.0,2611.0,3565.0,3510.0,...,8922.0,8789.0,8240.0,8070.0,64670.0,62130.0,5719.0,5523.0,1.282051,0.852152
2022-04-20,572.0,555.0,2405.0,2359.0,1665.0,1622.0,2683.0,2635.0,3550.0,3490.0,...,8906.0,8778.0,8150.0,7980.0,64640.0,62420.0,5655.0,5518.0,3.063063,1.949979
2022-04-21,582.0,573.0,2421.0,2387.0,1650.0,1602.0,2708.0,2689.0,3565.0,3515.0,...,8976.0,8877.0,8240.0,8050.0,66330.0,64120.0,5644.0,5551.0,1.570681,1.424382

In [25]:
data_filtered.columns

Index(['1332.T_High', '1332.T_Low', '1333.T_High', '1333.T_Low', '1605.T_High',
       '1605.T_Low', '1721.T_High', '1721.T_Low', '1801.T_High', '1801.T_Low',
       ...
       '9735.T_High', '9735.T_Low', '9766.T_High', '9766.T_Low', '9983.T_High',
       '9983.T_Low', '9984.T_High', '9984.T_Low', '1332.T_Profit',
       '1333.T_Profit'],
      dtype='object', name='Ticker', length=444)